__pycache__/
*.py[cod]
*$py.class
*.pyc
.idea
.todo
*.log
*.backup
tf_env/
*.mp4
*.mkv

.tmp/
temp/
.venv/
venv/
env/
workflow/
gfpgan/
models/*.onnx
models/*.pth
models/*.download*
faceswap/
.vscode/
switch_states.json
/.claude
